<nav class="navbar">
  <div class="navbar-left">
    <div class="menu-icon">☰</div>
    <img src="assets\logo_siete.png" alt="Seven Goat Logo" class="logo" />
    <span class="site-name">SevenGoat</span>
  </div>
  <div class="navbar-center">
    <input type="text" placeholder="Search..." class="search-input" />
  </div>
  
  <div class="navbar-right">
    <div class="nav-item">
      <i class="fas fa-futbol"></i>
      <span>Scores</span>
    </div>
    <div class="nav-item">
      <i class="fas fa-star"></i>
      <span>Favourites</span>
    </div>
    <div class="nav-item">
      <i class="fas fa-newspaper"></i>
      <span>News</span>
    </div>
    <div class="nav-item">
      <i class="fas fa-download"></i>
      <span>Get the app</span>
    </div>
  </div>
</nav>