<div class="sidebar">
  <!-- Sección de Ligas -->
  <div class="sidebar-section">
    <h3 class="section-title">
      LEAGUES
      <span class="toggle-icon" (click)="toggleShowAll()">
        <i class="fas" [ngClass]="showAllLeagues ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
      </span>
    </h3>
    <ul class="item-list">
      <li *ngFor="let league of displayedLeagues" class="list-item" (click)="viewMatches(league.id)">
        <img [src]="league.logo" alt="{{ league.name }}" class="item-logo" />
        <div class="item-details">
          <span class="item-name">{{ league.name }}</span>
          <span class="item-subtext">{{ league.country.name || league.country.organization }}</span>
        </div>
      </li>
    </ul>
  </div>

  <!-- Sección de Árbitros -->
  <div class="sidebar-section">
    <h3 class="section-title">
      REFEREES
      <span class="toggle-icon" (click)="toggleShowAllReferees()">
        <i class="fas" [ngClass]="showAllReferees ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
      </span>
    </h3>
    <ul class="item-list">
      <li *ngFor="let group of displayedRefereeGroups | keyvalue" class="list-group">
        <h4 class="group-title">{{ group.key }}</h4>
        <ul class="group-list">
          <li *ngFor="let referee of group.value" class="list-item" (click)="viewRefereeDetails(referee.name)">
            <span class="item-name">{{ referee.name }}</span>
            <span class="item-subtext">({{ referee.matchesArbitrated }} matches)</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>

 <!-- Sección de Equipos -->
 <div class="sidebar-section">
  <div class="section-header">
    <h2 class="section-title">TEAMS</h2>
    <button
      class="expand-button"
      (click)="toggleShowAllTeams()"
      [attr.aria-label]="showAllTeams ? 'Collapse teams list' : 'Expand teams list'"
    >
      <i class="fas" [ngClass]="showAllTeams ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
    </button>
  </div>

  <!-- Barra de búsqueda -->
  <div class="search-bar">
    <i class="fas fa-search search-icon"></i> <!-- Ícono de búsqueda -->
    <input
      type="text"
      class="search-input"
      [(ngModel)]="searchQuery"
      (input)="onSearchChange()"
      placeholder="Search teams..."
      aria-label="Search teams"
    />
  </div>
  

  <!-- Lista de equipos -->
  <ul class="teams-list">
    <li
      *ngFor="let team of teams"
      class="team-item"
      (click)="viewTeamDetails(team.id)"
    >
      <img [src]="team.logo" alt="{{ team.name }} logo" class="team-logo" />
      <div class="team-info">
        <span class="team-name">{{ team.name }}</span>
        <span class="team-country">{{ team.country }}</span>
      </div>
    </li>
  </ul>
</div>
